@import "../../formItem.scss";

.form-check {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
input {
    height: auto;
    padding: 1.25rem;
    background: #0091AD; 
    border-color:#0091AD;
    color: white;
    padding: 0.7rem;
    margin-right: 2rem;
}
input:checked {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.form-item {
    display: flex;
    align-items: flex-start;
}