section.page-section(v-bind:id='id')
    .container
        dynamic-component(
            v-bind:component_infos='title_section'
        )
    .container.margin-top-md
        .row
            component.col-sm.col-md-6.col-lg-3(
                v-for='image in images' 
                v-bind:is='image.url ? "a" : "div"'
                v-bind:href='image.url'
            )
                vue-image.work-image(
                    v-bind:widths='imageWidths'
                    v-bind:src='image.image_url'
                    v-bind:alt='image.image_alt'
                )
    .container.margin-top-lg
        dynamic-component(
            v-bind:component_infos='request_offer_section'
        )
