@import "../../globals";

.text-center {
    padding: 3rem 0;
}
.title {
    @extend .primary-text;
    margin-top: 0;
    margin-bottom: 1rem;
}
.content {
    @extend .secondary-text;
    font-style: italic;
    margin-bottom: 4rem;
}

.title {
    color: $primaryColor;
}
.content {
    color: $primaryColor;
}