section.page-section(v-bind:id='id')
    dynamic-component(
        v-bind:component_infos='title_section'
    )
    .container
        .row.text-center.justify-content-center
            .col-md-4(v-for='text_content_section in text_content_sections')
                dynamic-component(
                    v-bind:component_infos='text_content_section'
                )
