@import "../../../helper-vue-components/src/Headers/Header/Style";

@media (min-width: 992px) {
    header {
        height: 52rem;
    }
}

header {
    padding: 15rem 0;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #fff;
    background-image: url("background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
