@import "../../../globals.scss";

.nav-link, .badge {
    font-family: $secondaryFontFamily;
    font-size: 0.95rem;
    color: $primaryColor;
    letter-spacing: 0.0625em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link {
    margin-right: 1rem;
}

.btn, .btn:disabled {
    color: $secondaryColor;
    background-color: $baseColor;
    border-color: $baseColor;
}

.btn:hover {
    color: $primaryColor;
    background-color: $baseColor2;
    border-color: $baseColor2;
}

.btn-l {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-shrink {
    .nav-link, .badge {
        color: $secondaryColor;
    }
    .nav-link.active, .nav-link:hover, .badge:active, .badge:hover {
        color: $primaryColor;
    }
    .btn, .btn:disabled {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    .btn:hover {
        color: $primaryColor;
        background-color: $baseColor2;
        border-color: $baseColor2;
    }
}
