@import "../../../../../globals";

.dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0;
    line-height: 1.3rem;

    width: 100%;
    clear: both;
    font-weight: 400;
    color: $secondaryColor;
    text-align: inherit;
    background-color: transparent;
    &:active {
        background-color: $secondaryColor;
        color: $primaryColor;
    }
    &:hover {
        background-color: $secondaryColor;
        color: $primaryColor;
    }
}

@media (max-width: 575px) {
    .dropdown-item {
        .text-truncate {
            max-width: 13.375rem;
        }
    }
}