@import "dynamic-web-vue-components/GlobalComponents/globals.scss";

.nav-item {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.btn, .btn:disabled {
    color: $secondaryColor;
    font-family: $secondaryFontFamily;
    font-size: 1rem;
    font-weight: 700;
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
    letter-spacing: 0.0625em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn:hover {
    color: $primaryColor;
    background-color: $baseColor2 !important;
    border-color: $baseColor2 !important;
}

.navbar-shrink {
    .btn, .btn:disabled {
        color: $secondaryColor;
        background-color: $primaryColor !important;
        border-color: $primaryColor !important;
    }
    .btn:hover {
        color: $primaryColor;
        background-color: $baseColor2 !important;
        border-color: $baseColor2 !important;
    }
}

@media (max-width: 768px) {
    .navbar-shrink {
        .btn {
            padding: 0.5rem 1rem;
        }
    }
}
