section {
    background: white;
}

@media (min-width: 768px) {
    .page-section {
        padding-top: 3rem;
    }
}
@media (max-width: 768px) {
    .page-section {
        padding: 1.5rem;
    }
}
.page-section {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.2);
}

.margin-top {
    margin-top: 6rem;
}