@import "dynamic-web-vue-components/globals.scss";

section {
    margin-bottom: 3rem;
    background-color: transparent;
}

h3 {
    margin: 1.5rem 0 1.5rem .5rem;
    text-transform: uppercase;
}

.form-check {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-check-input[type=radio] {
    padding: 0.7rem;
    background-color: $baseColor;
    border-color: $baseColor;
    color: $secondaryColor;
}

.form-check-input:checked[type=radio] {
    background-color: $primaryColor;
    border-color: $primaryColor;
}



.extra-margin-input {
    margin: 0 32px 0 5px;
}
