@import "dynamic-web-vue-components/globals.scss";

section {
    margin-bottom: 3rem;
    background-color: transparent;
}

.title {
    margin: 1.5rem 0 1.5rem .5rem;
    text-transform: uppercase;
}

.form-check {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-check-input[type=radio] {
    position: relative;
    appearance: none;
    font: inherit;
    border: 0.2em solid $primaryColor;
    border-radius: 50%;

    padding: 0.7rem;
    color: $secondaryColor;
}

.form-check-input:checked[type=radio] {
    background-color: $baseColor;
}



.extra-margin-input {
    margin: 0 15px 0 5px;
}
