@import "dynamic-web-vue-components/GlobalComponents/globals";

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav-link, .badge {
    font-family: $secondaryFontFamily;
    font-size: 0.95rem;
    color: $primaryColor;
    letter-spacing: 0.0625em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .badge:hover {
    color: $baseColor;
}

.navbar-shrink {
    .nav-link, .badge {
        color: $secondaryColor;
    }
    .nav-link.active, .nav-link:hover, .badge:active, .badge:hover {
        color: $primaryColor;
    }
}
