@import "dynamic-web-vue-components/GlobalComponents/globals";

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav-link, .badge {
    font-family: $secondaryFontFamily;
    font-size: 0.95rem;
    color: $secondaryColor;
    letter-spacing: 0.0625em;
    text-decoration: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .badge:hover {
    color: $primaryColor;
}

.navbar-shrink {
    .nav-link, .badge {
        color: $secondaryColor;
    }
    .nav-link.active, .nav-link:hover, .badge:active, .badge:hover {
        color: $primaryColor;
    }
}

@media (max-width: 1024px) {
    .nav-item {
        margin-right: 0.5rem;

        .nav-link {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 768px) {
    .nav-link {
        padding: 0.5rem 1rem;
    }
}
