@import "dynamic-web-vue-components/GlobalComponents/globals";

.text-center {
    padding: 3rem 0;
}
.title {
    @extend .primary-text;
    color: $primaryColor;
    font-size: 1.5rem;
    text-transform: uppercase;
    hyphens: auto;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.content {
    @extend .secondary-text;
    text-align: justify;
    color: $textMutedColor;
}

.link {
    margin-top: 2rem;
}

.btn, .btn:disabled {
    color: #fff;
    background-color: $baseColor !important;
    border-color: $baseColor !important;
}

.btn:hover {
    color: $primaryColor;
    background-color: $baseColor2 !important;
    border-color: $baseColor2 !important;
}

.btn-l {
    padding: .75rem 1.25rem;
    font-family: $secondaryFontFamily;
    font-size: 1rem;
    font-weight: 700;
}