@import "helper-vue-components/Headers/Header/Style";

@media (min-width: 993px) {
    header {
        background-image: url("background.webp");
    }
}

@media (max-width: 992px) {
    header {
        height: 52rem;
        background-image: url("bg_1024.webp");
    }
}

@media (max-width: 768px) {
    header {
        height: 680px;
        background-image: url("bg_768.webp");
    }
}

@media (max-width: 425px) {
    header {
        height: 600px;
        background-image: url("bg_425.webp");
    }
}

@media (max-width: 375px) {
    header {
        height: 600px;
        background-image: url("bg_375.webp");
    }
}

@media (max-width: 320px) {
    header {
        height: 600px;
        background-image: url("bg_320.webp");
    }
}

header {
    padding: 15rem 0;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
