@import "helper-vue-components/Headers/Header/Style";

@media (min-width: 1441px) {
    header {
        background-image: url("images/2550.webp");
    }
}

@media (max-width: 1440px) {
    header {
        background-image: url("images/1440.webp");
    }
}

@media (max-width: 1024px) {
    header {
        height: 52rem;
        background-image: url("images/1024.webp");
    }
}

@media (max-width: 768px) {
    header {
        height: 680px;
        background-image: url("images/768.webp");
    }
}

@media (max-width: 425px) {
    header {
        height: 600px;
        background-image: url("images/425.webp");
    }
}

@media (max-width: 375px) {
    header {
        height: 600px;
        background-image: url("images/375.webp");
    }
}

@media (max-width: 320px) {
    header {
        height: 600px;
        background-image: url("images/320.webp");
    }
}

header {
    padding: 15rem 0;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
